logs/*
!.gitkeep
.DS_Store
.idea
node_modules/
bower_components/
tmp
dist/
downloads/
uploads/
combined.log
error.log

knexfile.js
pm2run.json
config/*
db/pg/data/*
db/pg/migrations/*
pc-api-*

server/lib/auth.js
server/lib/Escrow.js

server/routes/credits.js
server/routes/account.js
server/routes/payment.js
server/routes/reservation.js
server/routes/sensor.js
server/routes/upload.js
server/routes/middleware.js